@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
  
@mixin standard-margin($top: 10rem, $right: 2rem, $bottom: 2rem, $left: 2rem) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }  

@mixin big-margin($top: -30rem, $right: 0rem, $bottom: -5rem, $left: 0rem) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}  

@mixin col-margin($top: -30rem, $right: 0rem, $bottom: 0rem, $left: 0rem) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }  

@mixin col-margin-2($top: 0rem, $right: 0rem, $bottom: 0rem, $left: 0rem) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
  }  