$backgroundColor: #253b52;
$textColor: #fff;
$fontStack: 'Arial', sans-serif;
$header: 'Georgia';

$paragraph-font-size: 1.4rem;
$header-font-size: 2rem;
$header-big: 3rem;

$grid-width: 200rem;
$gutter-vertical: 40rem;
$gutter-horizontal: 6rem;